.contact{
    background-image: linear-gradient(to right, rgba(58, 66, 86, 0.9), rgba(58, 66, 86, 0.9)), url("../../../images/maskGroup4.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

